<div class="container-fluid max-height padding-margin-no">
	<div id="wrapper">

		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<div id="info">
				<div class="container">
					<div class="game-info">
						<h1><strong>Tic Tac Toe</strong></h1>
						<p><strong>Version:</strong> 1.0.0.<br><strong>Author:</strong> Armana Imsirevic</p>
					</div>
				</div>
			</div>
			<div id="chat">
				<div class="frame">
					<ul id="messages-list"></ul>
					<div>
						<div class="input-message">                        
							<div>
								<input class="mytext" placeholder="Type a message"/>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper" class="max-height padding-margin-no">
			<div class="container-fluid max-height padding-margin-no">
				<div class="row max-height pos-relative">
					<div id="background"></div>
					<div class="row players-info">
						<div id="background2"></div>
						<div class="col-md-6 players" id="player1">
							<p><span class="username">Armana</span></p>
							<p><span class="wins">4</span></p>
						</div>
						<div class="col-md-6 players" id="player2">
							<p><span class="wins">5</span></p>
							<p><span class="username">Petr</span></p>
						</div>
					</div>
					<div id="turn"></div>
					<table id="board">
						<tr>
							<td data-row="0" data-col="0" data-points="0"></td>
							<td data-row="0" data-col="1" data-points="0"></td>
							<td data-row="0" data-col="2" data-points="0"></td>
						</tr>
						<tr>
							<td data-row="1" data-col="0" data-points="0"></td>
							<td data-row="1" data-col="1" data-points="0"></td>
							<td data-row="1" data-col="2" data-points="0"></td>
						</tr>
						<tr>
							<td data-row="2" data-col="0" data-points="0"></td>
							<td data-row="2" data-col="1" data-points="0"></td>
							<td data-row="2" data-col="2" data-points="0"></td>
						</tr>
					</table>
				</div>
				<button id="refresh" class="btn btn-orange">Restart</button>
				<a href="#menu-toggle" class="btn btn-orange" id="menu-toggle">Chat</a>
				<button id="home-redirect" class="btn btn-orange">Home</button>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->
</div>


<!--<div class="container-fluid max-height">
	<div class="side-bar"></div>
	<div class="row max-height pos-relative">
		<div id="background"></div>
		<div class="row players-info">
			<div id="background2"></div>
			<div class="col-md-6 players" id="player1">
				<p><span class="username">Armana</span></p>
				<p><span class="wins">4</span></p>
			</div>
			<div class="col-md-6 players" id="player2">
				<p><span class="wins">5</span></p>
				<p><span class="username">Petr</span></p>
			</div>
		</div>
		<div id="turn"></div>
		<table id="board">
			<tr>
				<td data-row="0" data-col="0" data-points="0"></td>
				<td data-row="0" data-col="1" data-points="0"></td>
				<td data-row="0" data-col="2" data-points="0"></td>
			</tr>
			<tr>
				<td data-row="1" data-col="0" data-points="0"></td>
				<td data-row="1" data-col="1" data-points="0"></td>
				<td data-row="1" data-col="2" data-points="0"></td>
			</tr>
			<tr>
				<td data-row="2" data-col="0" data-points="0"></td>
				<td data-row="2" data-col="1" data-points="0"></td>
				<td data-row="2" data-col="2" data-points="0"></td>
			</tr>
		</table>
		<button id="refresh" class="btn btn-orange">Restart</button>
	</div>
</div>-->